#container{
  > h1{
    text-align: center;
  }
}
.card{
  & p{
    margin: 0;
  }
}
.card-img-top{
  aspect-ratio: 1/1;
  min-width: 95%;
}
.card-text{
  height: 15%;
  // overflow: hidden;
  // text-overflow: ellipsis;
  margin: 7px 0;
}


#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.confirmToastBtn{
  background: rgba(255, 53, 255, 0.632);
}
.cancelToastBtn{
  background: rgba(79, 6, 79, 0.614);
}

ion-chip {
  --background: #00213f;
  --color: #adefd1;
}

ion-segment {
  --background: #54dc98;
  margin: 15px 0;
}
